body {
    background-color: darkorange;
}

h1 {
    color: chartreuse;
}

h2 {
    color: blue;
}
 h3 {
     color:black;
 }   
 h4{
color:aquamarine;
}
h5 {
    color:indigo;
}
h6{
    color:lime;
}